 <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="/"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Ikea-logo.png/1200px-Ikea-logo.png?20140426202804" width="100rem" alt="logo"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu_icon"><i class="fas fa-bars"></i></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                  
                                    <a class="nav-link" href="/userhome">Home</a>
                                </li>
                                <li class="nav-item">
                                  
                                    <a class="nav-link" href="/userShop">Shop</a>
                                </li>
                                {{!-- <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="/userShop" id="navbarDropdown_1"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Shop
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                                        <a class="dropdown-item" href="/category"> shop category</a>
                                        <a class="dropdown-item" href="/product_details">product details</a>
                                        
                                    </div>
                                </li> --}}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_3"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        pages
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                        {{!-- <a class="dropdown-item" href="/login"> login</a>  --}}
                                        <a class="dropdown-item" href="/checkout">product checkout</a>
                                        <a class="dropdown-item" href="/userCart">shopping cart</a>  
                                    </div>
                                </li>
                                    {{!-- <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_2"
                                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            blog
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                            <a class="dropdown-item" href="blog.html"> blog</a>
                                            <a class="dropdown-item" href="single-blog.html">Single blog</a>
                                        </div>
                                    </li>
                                    --}}
                                {{!-- <li class="nav-item">
                                    <a class="nav-link" href="/contact">Contact</a>
                                </li> --}}
                             
                                        {{#if username}}
                                 <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-success" href="blog.html" id="navbarDropdown_2"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                       <i class="fa-solid fa-circle fa-2xs" style="color: #66ed2c;"></i> {{{username}}} 
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                       <a class="dropdown-item" href="/userProfile">Profile</a>  
                                       <a class="dropdown-item" href="/logout"> logout</a>  
                                    </div>
                                </li>
                                {{else}}
                                 <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-danger" href="blog.html" id="navbarDropdown_2"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                       gust  
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                      <a class="dropdown-item " href="/login"> login</a>  
                                    </div>
                                </li>
                                 {{/if}}

                            </ul>
                        </div>
                        <div class="hearer_icon d-flex">
                            {{!-- <a id="search_1" href="javascript:void(0)"><i class="ti-search"></i></a> --}}
                            <a href="/WishList"><i class="ti-heart"></i></a>
                            <div class="dropdown cart">
                                <a class="dropdown-toggle" href="/userCart" >
                                   <i class="fas fa-cart-plus"></i>
  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger text-white">
   {{cartlimit}}
   
  </span>
                                </a>
                                <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div class="single_product">
    
                                    </div>
                                </div> -->

  

                                
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
       
    </header>
