<!--================login_part Area =================-->
    <section class="login_part p-2 h-100vh">
        <div class="container">
            <div class="row align-items-center">
                
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                           
                            <form name="forms"  onsubmit="return useraddress()" class="row contact_form" action="/addressSubmit"  method="post">
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="name" name="name" 
                                        placeholder="First name" required>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="name" name="lastname"
                                        placeholder="Last name" required>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="name" name="email" 
                                        placeholder="Email address" required>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="number" class="form-control" id="name" name="Mobile"  
                                        placeholder="Phone Number" required>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="number" class="form-control" id="password"  name="AlternateMobile" 
                                        placeholder="AlternateMobile" required>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="number" class="form-control" id="password"  name="pincode" 
                                        placeholder="pincode" required>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="password"  name="city" 
                                        placeholder="city" required>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="password"  name="state" 
                                        placeholder=" state" required>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="password"  name="landmark" 
                                        placeholder="landmark" required>
                                </div>
                                <div class="col-md-12 form-group">
                                    <p id="error-errmess" style="color: brown;">{{error}}</p>
                                    <button type="submit"  class="btn_3">
                                        submit
                                    </button>
                                     <p style="color: rgb(234, 9, 9);">{{message}}</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================login_part end =================-->


<script>
    

function useraddress(){
   
  var firstName=document.forms.name.value;
  var lastName=document.forms.lastName.value;
  var AlternateMobile=document.forms.AlternateMobile.value;
  var email=document.forms.email.value;
  var mobile=document.forms.Mobile.value;
  var city=document.forms.city.value;
  var state=document.forms.state.value;
  var landmark=document.forms.landmark.value;
 // var password=document.forms.password.value;
 // var cpassword=document.submit.cpassword.value;

  var reg =    /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  var nameerror=  /^(?!-)[a-zA-Z-]*[a-zA-Z]$/;
  var phoneerror=(/^[0-9]{10}$/);
 // var passerror=(/^(?=.*[A-Z])(?=.*[!@#$%^&*])(?=.{8,})/)
  var error=document.getElementById("error-errmess");

  if(firstName=="" || lastName=="" || email=="" || AlternateMobile=="" || mobile=="" || city=="" || state=="" || landmark=="" ){
    error.innerHTML = firstName=="" ? 'Please enter name' : lastName=="" ? 'Please enter lastname' : email=="" ? 'Please enter email id' : AlternateMobile=="" ? 'Please enter alternative mobile' : mobile=="" ? 'Please enter mobile ': city=="" ? 'Please enter city ': state=="" ? 'Please enter state ': landmark=="" ? 'Please enter landmark ':'';

     // error.innerHTML='Please enter your firstname'
      return false;
  }
 
  if(nameerror.test(firstName)==false || nameerror.test(lastName)==false){
    error.innerHTML = nameerror.test(firstName)==false ? 'Invalid firstname': nameerror.test(lastName)==false ? 'Invalid lastname' :''  ;

    error.innerHTML='invalid firstname'
    return false;
} 
  
if(firstName.length<4 || lastName.length<3){
     error.innerHTML=firstName.length<4 ? 'Name should contain atleast 5 elements':lastName.length<3 ?'Name should contain atleast 3 elements':'';
      return false;
  }

 
  if(reg.test(email)==false){
    error.innerHTML='invalid email id'
    return false;
  }
  if(phoneerror.test(mobile)==false || phoneerror.test(AlternateMobile)==false){
      error.innerHTML=phoneerror.test(mobile)==false ?'Phone number should contain 10 numbers':  phoneerror.test(AlternateMobile)==false ? 'alternate nunber contain 10 numbers':'';
      return false;
  }
 
  return true;

}
</script>